USE [master]
GO
/****** Object:  Database [wardrobe]    Script Date: 2/19/2017 10:55:19 PM ******/
CREATE DATABASE [wardrobe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wardrobe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\wardrobe.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wardrobe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\wardrobe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wardrobe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wardrobe]
GO
/****** Object:  Table [dbo].[ClothingDetails]    Script Date: 2/19/2017 10:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClothingDetails](
	[ClothingID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Color] [varchar](20) NOT NULL,
	[Photo] [varchar](50) NOT NULL,
	[OccassionID] [int] NOT NULL,
	[SeasonID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_ClothingDetails] PRIMARY KEY CLUSTERED 
(
	[ClothingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClothingType]    Script Date: 2/19/2017 10:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClothingType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[ClothingType] [varchar](50) NOT NULL,
	[Size] [varchar](10) NULL,
	[Brand] [varchar](50) NULL,
 CONSTRAINT [PK_ClothingType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Occassions]    Script Date: 2/19/2017 10:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Occassions](
	[OccassionsID] [int] IDENTITY(1,1) NOT NULL,
	[Occassions] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Occassions] PRIMARY KEY CLUSTERED 
(
	[OccassionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 2/19/2017 10:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seasons](
	[SeasonsID] [int] IDENTITY(1,1) NOT NULL,
	[Seasons] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Seasons] PRIMARY KEY CLUSTERED 
(
	[SeasonsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ClothingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ClothingDetails_ClothingType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ClothingType] ([TypeID])
GO
ALTER TABLE [dbo].[ClothingDetails] CHECK CONSTRAINT [FK_ClothingDetails_ClothingType]
GO
ALTER TABLE [dbo].[ClothingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ClothingDetails_Occassions] FOREIGN KEY([OccassionID])
REFERENCES [dbo].[Occassions] ([OccassionsID])
GO
ALTER TABLE [dbo].[ClothingDetails] CHECK CONSTRAINT [FK_ClothingDetails_Occassions]
GO
ALTER TABLE [dbo].[ClothingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ClothingDetails_Seasons] FOREIGN KEY([SeasonID])
REFERENCES [dbo].[Seasons] ([SeasonsID])
GO
ALTER TABLE [dbo].[ClothingDetails] CHECK CONSTRAINT [FK_ClothingDetails_Seasons]
GO
USE [master]
GO
