body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:darkslategrey;
    font-family: 'Arima Madurai', cursive;
    color:#9d9d9d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Main img/heading/button*/
img#wardrobe {
    display:block;
    margin: 0 auto;
    height:850px;
}
div.carousel-caption{
    background:rgba(128, 128, 128, 0.5);
    color:black;
    width:900px;
}
#tagline b, strong{
    font-weight:bold;
    font-size:70px;
}
.btn-primary{
      background-color:rgb(128, 128, 128);
      border-color:white;       
}
.btn-primary:hover{
    background-color:#91C9D8;
    border-color:white;
        
}
/*NAVBAR*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    color:deeppink;
    font-family: 'Pacifico', cursive;
}
.navbar-inverse{
    background-color:#16123c;
}

/*Details Page Customization*/
h2#detailsTitle{
    color:white;
    font-size:60px;
    text-align:center;
}
p#sellLink{
    color:#16123c;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid;
    text-align:center;
    font-size:30px;
}
div.boxed{
    margin: 0 auto;
    position:relative;
    left: 37%;
}
a:hover, a:focus{
    color:white;
}
a{
        color:deeppink;
}
h2#detailsTitle{
    color:deeppink;
    font-size:80px;
}
/*Thumbnail - center all contents*/
div.thumbnail {
    text-align: center;
    background-color:#DAD4D3;
}
.thumbnail{
    border:5px solid;
    border-color:#16123c;
}
#tagline b, strong{
    font-size:45px;
}