@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Wardrobe LLC<br />
    San Diego, CA 56354<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <p>Support:</p>   <a href="mailto:Support@example.com">Support@wardrobe.com</a><br />
    <p>Marketing:</p> <a href="mailto:Marketing@example.com">Marketing@wardrobe.com</a>
</address>